.footer
 {
  background-color: #d79fa0;
  color: black;  
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; 
  right: 0; 
}

.footer-content 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: solid;
}

.copyright-symbol
{
  font-size: 24px;
  vertical-align: middle;
  margin-right: 5px;
  color: black;
}
